<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">

        <form th:action="@{/addClientInfo}"  method="post" th:object="${added_clientInfo}">
            <div class="row ">
                <div class="row col-md-8">
                    <div class="col-md-6">WeddingDate</div>
                    <div class="col-md-6"><input class="form-control" type="date" th:field="*{weddingDate}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Brides Name</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{brideName}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Brides Surname</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{brideSurname}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Grooms name</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{groomName}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Grooms Surname</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{groomSurname}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Id number</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{idNumber}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Address</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{address}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Brides Phone</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{bridePhone}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Grooms Phone</div>
                    <div class="col-md-6"><input class="form-control" type="tel" th:field="*{groomPhone}"></div>
                </div><div class="row col-md-8">
                    <div class="col-md-6">Email</div>
                    <div class="col-md-6"><input class="form-control" type="email" th:field="*{email}"></div>
                </div><div class="row col-md-8">
                    <div class="col-md-6">Signed Contract</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{contract}"></div>
                </div><div class="row col-md-8">
                    <div class="col-md-6">Permission to Advertise</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{advertising}"></div>
                </div><div class="row col-md-8">
                    <div class="col-md-6">Paid Advance</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{advance}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Drone Shots</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{drone}"></div>
                </div>
                <div class="row col-md-8"  >
                    <div class="col-md-6">Offer</div>
                    <select class="col-md-6 form-control" th:field="*{offerID}">
                        <option th:each="offer : ${added_offer}" th:text="${offer.name}"
                                th:value="${offer.id}"></option>
                    </select>
                </div>

                <div class="row col-md-8">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <input type="submit" class="form-control" value="submit">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>