<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>
    <h2>Wedding Details:</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">Wedding date</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.weddingDate}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Bride</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.brideName+' '+ClientDetails.brideSurname}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">Groom</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.groomName+' '+ClientDetails.groomSurname}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">Id number</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.idNumber}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Address</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.address}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Bride's Phone nr.</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.bridePhone}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Groom's Phone nr.</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.groomPhone}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Email</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.email}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Signed Contract</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.contract}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Permission to Advertise</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.advertising}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Paid Advance</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.advance}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Drone Shots</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.drone}"></p></div>
                </div>
                  <div class="row">
                      <div class="col-md-6">Offer</div>
                      <div class="col-md-6"><p th:text="${ClientDetails.offer.name}"></p></div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">Price</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.price}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Bride prep. address</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.bridePrep}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Groom prep. address</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.groomPrep}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Ceremony address</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.ceremonyPlace}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Wedding address</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.weddingPlace}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Distance</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.distance}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">travel expenses</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.distancePayment}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">First operator</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.firstOperator.username}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Second operator</div>
                    <div class="col-md-6"><p th:text="${WeddingDetails.secondOperator.username}"></p></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">Remaining Payment</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.remainingPayment}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Payment complete</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.isPaid}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Transport costs</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.transportCosts}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">First operator paid</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.firstOperatorPaid}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Second operator paid</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.secondOperatorPaid}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Deadline</div>
                    <div class="col-md-6"><p th:text="${ClientDetails.weddingDate.plusWeeks(10)}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Client's notes</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.clientNotes}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Editor's response</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.editorsResponse}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Long film link</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.longFilmLink}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Short film link</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.shortFilmLink}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Films accepted</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.accepted}"></p></div>
                </div>
                <div class="row">
                    <div class="col-md-6">Pendrive sent</div>
                    <div class="col-md-6"><p th:text="${PostProdDetails.pendriveSent}"></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>