<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>
    <h2>Weddings List:</h2>
    <div th:if="${message}">
        <div class="alert alert-danger" role="alert"><p th:text="${message}"></p></div>
    </div>
    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"><a th:href="@{'/list?sort='+${otherSort}}">Wedding date</a></div>
            <div class="col-md-2">Bride</div>
            <div class="col-md-2">Groom</div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row" th:each="wedding : ${weddingsList}">
            <div class="col-md-2"><p th:text="${wedding.weddingDate}"></p></div>
            <div class="col-md-2"><p th:text="${wedding.brideName + ' ' + wedding.brideSurname}"></p></div>
            <div class="col-md-2"><p th:text="${wedding.groomName+' ' +wedding.groomSurname}"></p></div>
            <!-- th:if="${!((wedding.brideName != null && !wedding.brideName.isEmpty()) || (wedding.brideSurname != null && !wedding.brideSurname.isEmpty()))&& (wedding.groomName != null && !wedding.groomName.isEmpty()) || (wedding.groomSurname != null && !wedding.groomSurname.isEmpty())}"-->
            <div class="col-md-2"><a  th:href="@{'/removeWedding/'+${wedding.id}}">Delete</a></div>
            <div class="col-md-2"><a  th:href="@{'/modifyClientInfo/'+${wedding.id}}">Modify</a></div>
            <div class="col-md-2"><a  th:href="@{'/details/'+${wedding.id}}">Details</a></div>
        </div>
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>