<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">

        <form th:action="@{${added_postProduction.getModifiedId() ==null?'/addPostProduction':'/modifyPostProduction'}}" method="post" th:object="${added_postProduction}">
            <input th:field="*{clientInfoId}" hidden>
            <input th:field="*{modifiedId}" hidden th:value="*{modifiedId}">
            <div class="row ">
                <div class="row col-md-8">
                    <div class="col-md-6">Remaining Payment</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{remainingPayment}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Payment complete</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{isPaid}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Transport costs</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{transportCosts}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">First operator paid</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{firstOperatorPaid}">
                    </div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Second operator paid</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{secondOperatorPaid}">
                    </div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Deadline</div>
                    <div class="col-md-6"><p th:text="${clientInfo.weddingDate.plusWeeks(10)}"></p></div>
                </div>

                <div class="row col-md-8">
                    <div class="col-md-6">Client's notes</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{clientNotes}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Editor's response</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{editorsResponse}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Long film link</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{longFilmLink}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Short film link</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{shortFilmLink}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Films accepted</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{accepted}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Pendrive sent</div>
                    <div class="col-md-6"><input class="form-control" type="checkbox" th:field="*{pendriveSent}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <input type="submit" class="form-control" value="submit">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>