<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace=" template :: head">
    <meta charset="UTF-8">
</head>
<body class="text-center">
<div class="d-flex w-75 h-100 p-3 mx-auto flex-column">
    <div th:replace="template :: navigator"></div>

    <div th:if="${error_message}">
        <div class="alert alert-danger" role="alert"><p th:text="${error_message}"></p></div>
    </div>

    <div class="container">


        <form th:action="@{'/addWeddingInfo'}" method="post"
              th:object="${added_weddingInfo}">
            <input th:field="*{modifiedId}" hidden th:value="*{modifiedId}">
            <input th:field="*{clientInfoId}" hidden>
            <div class="row ">
                <div class="row col-md-8">
                    <div class="col-md-6">Price</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{price}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Bride preparation address</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{bridePrep}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Groom preparation address</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{groomPrep}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Ceremony address</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{ceremonyPlace}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Wedding address</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{weddingPlace}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Distance</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{distance}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Additional travel payment</div>
                    <div class="col-md-6"><input class="form-control" type="text" th:field="*{distancePayment}"></div>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">First operator</div>
                    <select class="col-md-6 form-control" th:field="*{firstOperatorID}">
                        <option th:each="operator : ${added_operator}" th:text="${operator.username}"
                                th:value="${operator.id}"></option>
                    </select>
                </div>
                <div class="row col-md-8">
                    <div class="col-md-6">Second operator</div>
                    <select class="col-md-6 form-control" th:field="*{secondOperatorID}">
                        <option th:each="operator : ${added_operator}" th:text="${operator.username}"
                                th:value="${operator.id}"></option>
                    </select>
                </div>

                <div class="row col-md-8">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <input type="submit" class="form-control" value="submit">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<footer th:replace=" template :: footer"></footer>
</body>
</html>